.profileImg{
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 8px;
}
.flexBox {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.grayTxt {
    color: #8BACD9;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.whiteTxt{
    color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

.whiteTxt:hover{
    color: aqua;
}